*{
margin: 0px;
padding: 0px;

}

.inter-font {
  font-family: "Inter", sans-serif;
 
}


.header{
    background-color: #1A0B2E ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


 
 .logo{
    align-items: center;
    color: white;

 }
 span{
    
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    
    
    -webkit-background-clip: text;
    background-clip: text;
    
    
    -webkit-text-fill-color: transparent;
    color: transparent;
    
  
   
 }
 .nav-menu{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px ;


 }
 a{
    color: white;
    text-decoration: none;
   font-weight: 200;
   font-size: 15px;

 }
 

/* Sharred style */

.button{

   
    color: white;
    font-weight: 600;
  margin: 10px;
   padding: 10px;
   border-radius: 50px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

.button:hover{
   transform: translateY(-3px);
   cursor: pointer;
 
  box-shadow: 
    0 0 10px rgba(251, 9, 180, 0.7), 
    0 0 20px rgba(145, 0, 248, 0.5), 
    0 0 40px rgba(247, 233, 63, 0.3);
}

.hero{
   background-image: url(./assets/hero-bg.png);
   background-repeat: no-repeat;
   
   background-size: cover;
   width: 100%;
   height: 760px;
   margin-top: 0px;

}

 .image{
  display: flex;
justify-content: center;
align-items: center;

}
.hero-image , .new{
  position: absolute;
  left: center;
  top: center;
  z-index: +1;
  margin-top:  550px;
  align-items: center;


}

@keyframes spin {
0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15); 
  }
  100% {
    transform: scale(1); 
  }
}


.new{
   font-size: 18px;
   background-color: #00FF88;
   border-radius: 20px;
   padding: 8px;
   margin-top: 250px;
   margin-left: 180px;
   animation: spin 2s ease-in-out infinite;
   
}

.txt{
   color: white;
   display: flex;
   flex-direction: column;
  
}
.txt , h1  p {
   align-items:center;
  
   margin-top: 550px;
}
h1{
   font-size: 60px;

}
.txt , p{
   font-size: 18px;
   font-weight: 200;
   padding-top: 10px;
   padding-bottom: 10px;
}

.msg{
   padding: 13px;
   border-radius: 20px;
   background-color: transparent;
   color: #00FF88;
   border: 1px solid #00FF88;
   
}
.msg:hover{
   cursor: pointer;
}
/* #B01{
   display: flex;
   gap: 8px;
} */


.About{
   text-align: center;
   background-color:#1A0B2E;
   color: white;
}
.About  h1 {
   font-size: 48px;
   padding-top: 15px;
   

}
.About  p {
   font-size: 13px;
   font-weight: 200;
   padding: 10px 200px;

}
.points {
   display: flex;
   justify-content: space-evenly;
   justify-items: center;
   
   
}
hr{
 
   margin:0 50px;
   
}
.points h1 {
   color: #00FF88;
   font-size: 40px;
   


}
.points p{
   display: flex;
   

}

/* Section */

.grids{
   background-color: #230E3D;
  padding: 50PX;
}
.grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,200px);
   gap: 30px;
   color: white;
   
}

.Global , .Mobile , .location , .Interview , .Rich  
{
      background-color: #351165;
      border-radius: 25px;
      padding: 30px;

}
.grid h5 {
   font-size: 24px;
   padding-top:20px ;
   
}
.grid p{
   font-size: 16px;
   font-weight: 100;
   text-align: left;
   padding-bottom: 30px;
}
.grids  h2 {
   text-align: center;
   display: block;
   margin-left: center;
   font-size: 48px;
   padding: 20px;
   color: white;
}
.Global {
   
   grid-row: span 2;
}

.Mobile{
grid-column: span 2;

}
.location {
   grid-column: span 2;
}
.Interview{
   grid-column: span 2;
}
.Rich {
   grid-row: span 1;
}



