*{
margin: 0px;
padding: 0px;

}

.inter-font {
  font-family: "Inter", sans-serif;
 
}


.header{
    background-color: #1A0B2E ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


 
 .logo{
    align-items: center;
    color: white;

 }
 span{
    
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    
    
    -webkit-background-clip: text;
    background-clip: text;
    
    
    -webkit-text-fill-color: transparent;
    color: transparent;
    
  
   
 }
 .nav-menu{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px ;


 }
 a{
    color: white;
    text-decoration: none;
   font-weight: 200;
   font-size: 15px;

 }
 

/* Sharred style */

.button{

   align-items: center;
    color: white;
    font-weight: 600;
  margin: 10px;
   padding: 10px;
   border-radius: 50px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

.button:hover{
   transform: translateY(-3px);
   cursor: pointer;
 
  box-shadow: 
    0 0 10px rgba(251, 9, 180, 0.7), 
    0 0 20px rgba(145, 0, 248, 0.5), 
    0 0 40px rgba(247, 233, 63, 0.3);
}

.hero{
   background-image: url(./assets/hero-bg.png);
   background-repeat: no-repeat;
   
   background-size: cover;
   width: 100%;
   height: 760px;
   margin-top: 0px;

}

 .image{
  display: flex;
justify-content: center;
align-items: center;

}
.hero-image , .new{
  position: absolute;
  left: center;
  top: center;
  z-index: +1;
  margin-top:  550px;
  align-items: center;


}

@keyframes spin {
0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15); 
  }
  100% {
    transform: scale(1); 
  }
}


.new{
   font-size: 18px;
   background-color: #00FF88;
   border-radius: 20px;
   padding: 8px;
   margin-top: 250px;
   margin-left: 180px;
   animation: spin 2s ease-in-out infinite;
   
}

.txt{
   color: white;
   display: flex;
   flex-direction: column;
  
}
.txt , h1  p {
   align-items:center;
  
   margin-top: 550px;
}
h1{
   font-size: 60px;

}
.txt , p{
   font-size: 18px;
   font-weight: 200;
   padding-top: 10px;
   padding-bottom: 10px;
}

.msg{
   padding: 12px;
  
   border-radius: 20px;
   background-color: transparent;
   color: #00FF88;
   border: 1px solid #00FF88;
   
}
.msg:hover{
   cursor: pointer;
}
/* #B01{
   display: flex;
   gap: 8px;
} */


.About{
   text-align: center;
   background-color:#1A0B2E;
   color: white;
   padding-top: 50px;
}
.About  h1 {
   font-size: 48px;
   
   

}
.About  p {
   font-size: 13px;
   font-weight: 200;
   padding: 15px 200px;

}
.points {
   display: flex;
   justify-content: space-evenly;
   justify-items: center;
   
   
}


hr{
 
   margin:0 80px;
   
}
.points h1 {
   color: #00FF88;
   font-size: 40px;
   


}

/* Section */

.grids{
   background-color: #230E3D;
  padding: 50PX;
}
.grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,200px);
   gap: 30px;
   color: white;
   
}

.Global , .Mobile , .location , .Interview , .Rich  
{
      background-color: #351165;
      border-radius: 25px;
      padding: 30px;

}
.grid h5 {
   font-size: 24px;
   padding-top:20px ;
   
}
.grid p{
   font-size: 16px;
   font-weight: 100;
   text-align: left;
   padding-bottom: 30px;
}
.grids  h2 {
   text-align: center;
   display: block;
   margin-left: center;
   font-size: 48px;
   padding: 50px;
   margin-bottom: 20px;
   color: white;
}
.Global {
   
   grid-row: span 2;
}

.Mobile{
grid-column: span 2;

}
.location {
   grid-column: span 2;
}
.Interview{
   grid-column: span 2;
   padding-bottom: 200px;
}
.Rich {
   grid-row: span 1;
      padding-bottom: 200px;

}

/* Section Videos  */


.videos {
   background-color: #1A0B2E;
   color: white;
   /* padding: 50px; */
}
.videos h2 {
   text-align: center;
   padding-top: 52px;
   font-size: 48px;
   padding-bottom: 50px;
}

.video-container{
   display: flex;
   justify-content: space-evenly;
   justify-items: center;
   gap: 60px;
   padding: 0 200px;
}

iframe{
   width: 400px;
   height: 200px;
   align-items: center;
   padding: 25px 15px;
   
   
}

 .video{
   /* border: 1px solid white ; */
   border-radius: 20px;
   background-color: #230E3D;
   padding-left: 25px;
 }
 .video h5{
   font-size: 24PX;

 }
 .video p{
   font-size: 15px;
 }
 .clock{
   text-align: left;
   padding-bottom: 20px;
   display: flex;
   gap: 5px;
   justify-items: center;
 }


 .host-container{
   background-color: #1A0B2E;
   display: flex;
   
   

 }
 .host{

/* border: 2px solid white; */
background-color: #230E3D;
border-radius: 50px;
padding: 50px;
margin: 100px 250px;
display: flex;
gap: 20px;
justify-content: center;
justify-items: center;
}

.details {
   color: white;
}
.details h2 {
   font-size: 40px;
}
.details p{
   font-size: 16px;
   font-weight: 100;
}

.social-links{
   display: flex;
   gap: 10px;
   justify-content: flex-start;
   justify-items: center;
   
}
.social-links img {
   border: 1px solid #351165;
   border-radius: 50%;
   padding: 5px;
   width: 20px;
   height: 20px;


}


.footer{
   background-image: url(./assets/footer-bg.png);
   background-repeat: no-repeat;
   background-size: cover;

}

.footer h2{
   padding-top: 150px;
   font-size: 100px;
   text-align: center;

}
.footer-social-links {
   color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 80px;
  

}
.foot-link{
   display: flex;
justify-items: center;
justify-content: space-between;
padding-top: 25px;


   gap:20px;
}



.copy{
   padding-top: 40px;
   padding-bottom: 100px;
   color: #FFFFFF ;
  text-align: center;
font-size: 16px;
font-weight: 150;
}